.body{
    
}



.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-item {
    display: flex;
    flex-direction: column;

}






/* ------------------------------- login.html -------------------------------- */


.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    overflow: hidden;
}



.login-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url("/static/imgs/background_main.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    border-radius: 10px;
}

.login-container::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 10px;
}

.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.login-header h2 {
    color: #fff;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
}

.login-links{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.login-links a {
    color: #fff;
    text-decoration: none;
    /* margin-left: 20px; */
    font-size: 16px;
    transition: color 0.3s;
}

.login-links p {
    font-size: 12px;
    color: rgb(170, 170, 170);
    font-weight: 100;
}

.login-links a:hover {
    color: #ccc;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    outline: none;
}


.input-group label {
    margin-right: 10px;
    font-size: 18px;
}

.input-group input:focus {
    outline: none;
}

.login-button {
    background: #2c3e50ce;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.login-button i {
    font-size: 14px;
}

.error-message {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

/* .login-footer {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
} */

.login-footer p {
    margin: 0;
}




